@use 'style.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

main {
    min-height: 300px;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}